@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: bold ;
    font-style: normal;
  }
@font-face {
    font-family: 'RubikR';
    src: url('./Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: light ;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto';
    src: url('./NotoSansHebrew-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 800 ;
    font-style: normal;
  }
@font-face {
    font-family: 'NotoR';
    src: url('./NotoSansHebrew-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: light ;
    font-style: normal;
  }
  @font-face {
    font-family: 'Horev';
    src: url('./Horev CLM Heavy.ttf') format('truetype');
    font-weight: 800 ;
    font-style: normal;
  }

  @font-face {
    font-family: 'HeeboR';
    src: url('./Heebo-VariableFont_wght.ttf') format('truetype');
    font-weight: light ;
    font-style: normal;
  }
  @font-face {
    font-family: 'Karantina';
    src: url('./Karantina-Bold.ttf') format('truetype');
  
    font-style: normal;
  }
  @font-face {
    font-family: 'KarantinaL';
    src: url('./Karantina-Light.ttf') format('truetype');
  
    font-style: normal;
  }